@model TripViewer.Utility.TripViewerConfiguration
@{
    ViewData["Title"] = "Home Page";
    var urlUser = Model.USER_ROOT_URL + "/api/docs/user";
    var urlUserJava = Model.USER_JAVA_ROOT_URL + "/api/docs/user-java";
    var urlTrips = Model.TRIPS_ROOT_URL + "/api/docs/trips";
    var urlPoi = Model.POI_ROOT_URL + "/api/docs/poi";
    var hcUser = Model.USER_ROOT_URL + "/api/healthcheck/user";
    var hcUserJava = Model.USER_JAVA_ROOT_URL + "/api/healthcheck/user-java";
    var hcTrips = Model.TRIPS_ROOT_URL + "/api/healthcheck/trips";
    var hcPoi = Model.POI_ROOT_URL + "/api/healthcheck/poi";
}
<h2>DevOps Openhack Team Resources</h2>
<p>
    Welcome to your team's Trip viewer website running on Azure App Service on Linux.
    The <a href="/Trip"> trip page </a> will replay the trips being sent via the simulator on your cluster.
    The <a href="/UserProfile"> profile page </a> will show the total number of trips and distance traveled for the user of those simulated trips.
    Both of these pages are one way to verify that all of your APIs are functioning.
</p>
<p>Check out these useful links for your team:</p>
<ul>
    <li>
        <a href="@hcUser" title="Go to Traefik Dashboard">User API Health Check</a>
    </li>
    <li>
        <a href="@hcUserJava" title="Go to Traefik Dashboard">User API (Java) Health Check</a>
    </li>
    <li>
        <a href="@hcTrips" title="Go to Traefik Dashboard">Trips API (Golang) Health Check</a>
    </li>
    <li>
        <a href="@hcPoi" title="Go to Traefik Dashboard">POI API (dotnet 2.1) Health Check</a>
    </li>
</ul>

<p>Swagger API documentation pages:</p>
<ul>
    <li>
        <a href="@urlUser" title="User Node API swagger docs">User API (Node.js)</a>
    </li>
    <li>
        <a href="@urlUserJava" title="User Java API swagger docs">User API (Java)</a>
    </li>
    <li>
        <a href="@urlTrips" title="Trips API swagger docs">Trips API (Golang)</a>
    </li>
    <li>
        <a href="@urlPoi" title="POI API swagger docs">POI API (dotnet 2.1)</a>
    </li>
</ul>
<div id="UserProfileInfo">
    @*@await Html.PartialAsync("/Views/UserProfile/Index.cshtml");*@

    @*<partial name="/Views/UserProfile/Index.cshtml" />*@
</div>

