@model IEnumerable<Simulator.DataObjects.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Driver Profile</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTrips)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TotalTime)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.HardStops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardAccelerations)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FuelConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSpeed)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Version)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.ProfilePictureUri)*@
                <img src="@Url.Content(item.ProfilePictureUri)" alt="test" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTrips)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TotalTime)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.HardStops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardAccelerations)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FuelConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSpeed)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>*@
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
